%ol.breadcrumb
  %li
    =link_to "Back to HOME", root_path
  %li
    =link_to "Edit", edit_car_path(@car)
  %li
    =link_to "Delete", car_path(@car), method: :delete, data: { confirm: "Are you sure?"}
